<header class="navbar-container">
        <nav class="navbar">
            
            <div class="navbar-brand">
                <a href="index.html"><img id="logo" src="img/logo.png"></a> 
                </div>

            <input type="checkbox" id="menu-toggle">
            
            <label for="menu-toggle" class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </label>

            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                
                <li class="dropdown" id="services-dropdown">
                    <a href="services.html">Services</a>
                    <ul class="submenu">
                        <li><a href="aeration.html">Aeration</a></li>
                        <li><a href="landscape_maintnace.html">Landscape Maintenance</a></li>
                        <li><a href="treatments.html">Treatments</a></li>
                    </ul>
                </li>
                
                <li><a href="#team">Team</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact-us">Contact Us</a></li>
            </ul>
        </nav>
</header>