body{
    background-color: #CCCCCC;
    font-family:'Courier New', Courier, monospace;
    font-size: 14pt;
}
#logo{
    height: 70px;
}
#soil {
    font-family: 'Georgia', serif; /* A classic, organic font */
    font-style: italic;
    text-align: center;
    font-size: 3rem;
    color: #E0EAC9;
    -webkit-text-stroke: 1px #4B3621; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
}
