body{
    background-color: #CCCCCC;
    font-family:'Courier New', Courier, monospace;
    font-size: 14pt;
}
#logo{
    height: 70px;
}
<<<<<<< HEAD
=======
.container{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
}
.service-links{
    justify-content: space-around;
    padding: 10px;
    max-width: fit-content;
    margin: 0 auto;
}
#weed{
    display: flex;
    max-width: 350px;
    justify-content: flex-end;
    align-items: center;
    order: 2;
}
#fertilizer{
    display: flex;
    max-width: 350px;
    order: 0;
}
#lawn{
    display: flex;
    max-width: 350px;;
    order: 1;
}

#intro-section {
    display: flex;
    align-items: flex-start; /* aligns top edges */
    gap: 20px; /* space between image and text */
    margin-top: 12px;
    margin-bottom: 12px;
}

#intro-img {
    display: block;
    margin-right: auto;
    width: 300%;
    height: 300%;
    object-fit: fill;
}

#about-us {
    display: block;
    margin-top: 10%;
}

#about-us h2 {
    color: #255c32;
}

#about-us p {
    max-width: 95%;
}
>>>>>>> 05d655943de0236cb4768ff0cac588a4821918bd
