body{
    background-color: #CCCCCC;
    font-family:'Courier New', Courier, monospace;
    font-size: 14pt;
}
#logo{
    height: 70px;
}
#soil{
    font-style: italic;
    text-align: center;
    font-size: xx-large;
    color: 223 233 203
}